<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org/">
	<head>
		<!-- Latest compiled and minified CSS -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

		<!-- Latest compiled JavaScript -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class="container mt-3">
			<div class="mt-4 p-5 bg-primary text-white rounded">
				<h1 class="display-2">User Web App<small class="display-6"> - Existing User Update</small></h1 >
				<small>CRUD operations for Users</small>
			</div >
		</div >
		<div class="container mt-3">
			<form class="mt-3 col-6" th:object="${userToUpdate}" th:action="@{/updateUser}" method="POST" >
				<label for="userId" class="form-label">User ID: <small style="font-size: x-small;"><font color="red">Unmodifiable*</font></small ></label>
				<input type="text" th:field="*{userId}" class="form-control" id="userId" name="userId" readonly required>
				<label for="firstName" class="form-label">First Name:</label>
				<input type="text"  th:field="*{firstName}" class="form-control" id="firstName" placeholder="John" name="firstName" required>
				<label for="lastName" class="form-label mt-3">Last Name:</label>
				<input type="text"  th:field="*{lastName}" class="form-control" id="lastName" placeholder="Doe" name="lastName" required>
				<label for="dob" class="form-label mt-3">Date of Birth:</label>
				<input type="date"  th:field="*{dob}" class="form-control" id="dob" name="dob" required>
				<label for="City" class="form-label mt-3">City:</label>
				<input type="text"  th:field="*{city}" class="form-control" id="city" placeholder="Delhi" name="city" required>
				<label for="mobile" class="form-label mt-3">Mobile No.:</label>
				<input type="text"  th:field="*{mobileNumber}" pattern="[0-9]{10}" inputmode="numeric" class="form-control" id="mobile" placeholder="xxxxxxxxxx" name="mobileNumber">
				<input type="submit" class="btn btn-success mt-4 col-3 mb-4" value="Update User">
				<input type="reset" class="btn btn-danger mt-4 col-3 mb-4" value="Clear" style="margin-left: 10px;">
			</form  >
		</div>